.container
  %h2 Dar de alta un perro para adopcion
  %p
    Puedes dar de alta un perro para adopcion inmediatamente o puedes
    =link_to "registrate aqui", "#"
    para tener mas control sobre tus publicaciones
  = render 'form'
  = link_to 'Back', dogs_path, class: "btn btn-info"
